/* these designs come with the default bookdown template */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}




/* definition tables (RZ) */
.deftab, .deftab th, .deftab td, .deftab tr {
  border-style: hidden;
  background-color: white;
  /*  padding-left: 0px; */   /* somehow this is not working!! */
}
.deftab th, .deftab td {
  vertical-align: top;
  text-align: left;
}
.deftab th {
  width: 20%;       /* header cells are 20% width (first column) */
}
.deftab td:nth-child(1) {
  width: 20%;       /* first td cell also 20% width (first column) */
}


/* comparison tables (RZ) */
.comtab, .comtab th, .comtab td, .comtab tr {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  /*  padding-left: 0px; */   /* somehow this is not working!! */
}
.comtab th, .comtab td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}

